@import "../../styles/index.scss";
#header {
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 0;
  z-index: 9999;
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: spacing(0.5, 1.5);
    box-shadow: 0 0 15px rgba(color("black"), 0.3);
    &__logo {
      width: 50px;
    }
    &__navbar {
      flex-grow: 1;
    }
    &__nav {
      @include list-default;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      &__link {
        color: color("black");
        padding: spacing(0, 1);

        &:hover,
        &:focus {
          color: color("primary");
          text-decoration: none;
        }
      }
    }
    &__login {
      padding-right: spacing(1);
      margin-right: spacing(1);
      img {
        width: 30px;
        margin-right: spacing(0.5);
        @include bd-radius(50%);
      }
      a {
        color: color("lightgrey");
      }
    }
    // &__location {
    //   display: flex;
    //   flex-direction: column;
    //   &__container {
    //     max-height: 0;
    //     opacity: 0;
    //     @include transition-all;
    //     @include bd-radius(8px);
    //     overflow: hidden;
    //     order: 1;
    //     &::-webkit-scrollbar {
    //       width: 4px;
    //       background-color: color("white");
    //       border-radius: 0 10px 10px 0;
    //     }
    //     &::-webkit-scrollbar-thumb {
    //       background-color: color("lightgrey");
    //       border-radius: 0 10px 10px 0;
    //     }
    //     &.active {
    //       max-height: 400px;
    //       opacity: 1;
    //       overflow-y: scroll;
    //       & + .header__location__selected::after {
    //         @include transform(rotateX(180px));
    //         top: -6px;
    //       }
    //     }
    //   }
    //   &__option {
    //     padding: spacing(0.5) spacing(0.5) spacing(0.5) spacing(2);
    //     cursor: pointer;
    //     label {
    //       &:hover {
    //         background-color: color("lighterwhite");
    //       }
    //     }
    //     .radio {
    //       display: none;
    //     }
    //   }
    //   &__selected {
    //     position: relative;
    //     padding: spacing(0.5) spacing(0.5) spacing(0.5) spacing(2);
    //     cursor: pointer;
    //     @include bd-radius(8px);
    //     margin-bottom: spacing(0.8);
    //     order: 0;
    //     &::before,
    //     &::after {
    //       width: 20px;
    //       height: 20px;
    //     }
    //     &::before {
    //       content: "";
    //       background: url("../../assets/images/logos/location-header.png")
    //         no-repeat;
    //       position: absolute;
    //       top: 10px;
    //       left: 0;
    //       @include transition-all;
    //     }
    //     &::after {
    //       content: "";
    //       background: url("../../assets/images/logos/dropdown-icon.png") no-repeat;
    //       position: absolute;
    //       top: 10px;
    //       right: 0;
    //       @include transition-all;
    //     }
    //   }
    // }
  }
}
