@import "../../styles/index.scss";

#carousel {
  .carousel {
    &-indicators {
      bottom: 50px;
      li {
        width: 10px;
        height: 10px;
        @include bd-radius(50%);
      }
      .active {
        background-color: color("primary");
      }
    }
    &__overlay {
      &__play {
        position: relative;
        z-index: 99;
      }
      &::after {
        background: linear-gradient(
          to top,
          color("black"),
          color("transparent") 20%
        );
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
      }
    }
    &-control-prev,
    &-control-next {
      z-index: 99;
      .carousel-control-btn {
        width: 72px;
        height: 72px;
        line-height: 72px;
        top: 45%;
      }
    }
  }
  .modal {
    &-content {
      background-color: color("transparent");
    }
    &-open {
      padding-right: 0;
    }
    padding-right: 0;

    &-dialog {
      @include transform(translateY(45%));
    }
    &-body {
      padding: 0;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;

      .close {
        position: absolute;
        top: -20px;
        right: -20px;
        opacity: 1;
        z-index: 2;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include MediaQuery($lg) {
  .modal-lg {
    width: 900px;
  }
  .carousel-control-btn {
    height: 50px;
    width: 50px;
    img {
      height: 50px;
      width: 50px;
    }
  }
}

@include MediaQuery($md) {
  .carousel-control-btn {
    width: 50px;
    height: 50px;
  }
}

@include MediaQuery($sm) {
  #carousel {
    display: none;
  }
}
