@import "../../styles/index.scss";
#showtime {
  padding-top: spacing(10);
  .nav {
    justify-content: center;
    margin-top: 0;
    margin-bottom: spacing(3);
  }
  .nav-tabs {
    border-bottom: none;
    .nav-item {
      color: color("black");
      font-weight: $fwMedium;
    }
    .nav-link {
      border: none;
      background-color: transparent;
      color: color("black");
      line-height: 30px;
      font-size: fontSize(3);
      @include transition-all($time: 0.2s);
      &:hover {
        font-size: fontSize(2.5);
      }
    }
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    border: none;
    color: color("secondary");
    font-size: fontSize(3);
  }
  .showtime {
    &-slider {
      .slick-prev,
      .slick-next {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        @include bd-radius(50%);
        background-color: rgba(color("black"), 0.3);
        @include text(color("primary"), fontSize(5), $fwRegular);
        z-index: 3;
        &::before {
          display: none;
        }
      }
    }
    // &__image {
    //   padding-top: 147%;
    //   @include bd-radius(4px);
    //   position: relative;
    //   &::after {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: linear-gradient(
    //       to top,
    //       color("black"),
    //       transparent 100%
    //     );
    //     opacity: 0;
    //     @include transition-all;
    //   }
    //   &:hover {
    //     &::after {
    //       opacity: 1;
    //     }
    //   }
    // }
    // &__overlay {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-image: linear-gradient(
    //     to top,
    //     color("black"),
    //     transparent 100%
    //   );
    //   opacity: 0;
    //   @include transition-all;
    //   .btn-play {
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    // }
    // &__rating {
    //   position: absolute;
    //   top: 5%;
    //   right: 5%;
    //   width: 50%;
    //   padding: spacing(0.5);
    //   font-size: 16.08px;
    //   background-color: rgba(0, 0, 0, 0.6);
    //   border: 1px solid rgba(0, 0, 0, 0.65);
    //   @include bd-radius(4px);
    //   @include text(color("primary"), $body, $fwRegular);
    //   text-align: center;
    //   line-height: 1.1;
    // }
    // &__card {
    //   border: none;
    //   margin-bottom: spacing(1);
    //   &:hover {
    //     .showtime__overlay {
    //       opacity: 1;
    //     }
    //     .showtime__content__overlay {
    //       opacity: 0;
    //     }
    //     .showtime__addToCart {
    //       opacity: 1;
    //     }
    //   }
    //   &__body {
    //     position: relative;
    //   }
    // }
    // &__content {
    //   opacity: 1;
    // }

    // &__title {
    //   margin-bottom: spacing(1);
    //   height: 42px;
    //   max-height: 42px;
    //   overflow: hidden;
    //   @include text(color("black"), $h1, $fwMedium);
    //   line-height: 18px;
    //   @include transition-all(0.2s);
    //   .btn-age--general {
    //     background-color: color("darkgreen");
    //   }
    // }
    // &__addToCart {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background-color: #fff;
    //   width: 100%;
    //   height: 100%;
    //   cursor: pointer;
    //   opacity: 0;
    //   @include transition-all;
    //   a {
    //     display: inline-block;
    //     width: 100%;
    //     padding: spacing(1.5, 0);
    //     margin-top: spacing(1);
    //     @include text(color("white"), fontSize(2), $fwRegular);
    //     text-align: center;
    //     text-decoration: none;

    //     &:hover {
    //       text-decoration: none;
    //       color: color("white");
    //     }
    //   }
    // }
  }
}
