@import "../../styles/index.scss";

.schedule__mobile {
  &__wrapper {
    display: block;
    color: color("black");
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    padding: spacing(2) 0;

    &:hover {
      text-decoration: none;
      color: color("black");
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      background-image: url(../../assets/images/logos/next-session.png);
      background-size: cover;
      width: 10px;
      height: 10px;
    }

    img {
      width: 50px;
      height: 50px;
      margin-right: spacing(1.5);
    }
  }

  &__title {
    font-size: fontSize(2.2);
    margin-bottom: 0;

    .subscription {
      @include text(color("primary"), $title2, $fwRegular);
      margin: 0;
    }
  }

  .line {
    height: 1px;
    margin: 0 spacing(-1.5);
    background-color: color("lightwhite");
  }

  &__list {
    @include list-default;
    margin-top: spacing(1);

    .image {
      width: 50px;
      margin-right: spacing(1);
    }

    .content {
      width: calc(100% - 60px);

      .title {
        color: color("black");
        font-size: $h1;
      }

      .desc {
        font-size: $title3;
        color: color("lightgrey");
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  &__child {
    padding: spacing(1) 0;
  }

  &__link {
    display: block;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: color("black");
    margin-bottom: spacing(1);

    &:hover {
      text-decoration: none;
      color: color("black");
    }
  }
}

@media screen and (min-width: 993px) {
  .schedule__mobile {
    display: none;
  }
}
